*{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: large;
    max-width: 100%;
}
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: clip;
    scroll-behavior: smooth;
} 

#header{
    background-color: #6d5050b6;
    height: 96px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
}
body{
    position: inherit;
}
.all{
    position: relative;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.aboutme > a,
.blog > a{
    font-family: 'Nunito', sans-serif;
}
.text > a{
    color: #000000;
}
.title{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
}
.centever{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}
.everything{
    margin-top: 80px;
    width: 600px;
}
.content{
    margin-bottom: 40px;
    border-left: solid  #B92236;
    padding: 10px;
    padding-left: 40px;
}
.specific{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.image{
    margin-right: 10px;
    width: 30px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: small;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.links{
    text-decoration: solid #000000;
    color: #000000;
}
.side{
    height: 300%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #ff77ad55;
    display: none;
    
}
.side > .title{
    margin-top: 150px;
    margin-left: 40px;
}

.sticky{
    position: sticky;
    bottom: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    padding: 20px;
    width: auto;
    float: right;
}

.where > a{
    color: rgba(0, 0, 0, 0.768);
    font-weight: 400;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}
.where>a:hover{
    color: #000000;
}
.where > a:after{
    content: "";
    position: absolute;
    background-color: #d73737;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.where >a:hover:after{
    width: 100%;

}

#nasatxt{
    font-size: 17px;
}